<form>
  <h1>Atualizando Livro</h1>

  <mat-form-field class="form">
    <mat-label>Titulo</mat-label>
    <input
      [(ngModel)]="livro.titulo"
      type="text"
      matInput
      [formControl]="titulo"
      required
      name="titulo"
      placeholder="Ex. Biblia Sagrada"
      maxlength="100"
    />

    <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Editora</mat-label>
    <input
      [(ngModel)]="livro.editora"
      type="text"
      matInput
      [formControl]="editora"
      required
      name="editora"
      placeholder="Ex. Atlas"
      maxlength="100"
    />

    <mat-error *ngIf="editora.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Edicao</mat-label>
    <textarea
      [(ngModel)]="livro.edicao"
      type="number"
      matInput
      [formControl]="edicao"
      required
      name="edicao"
      maxlength="3"
      placeholder="Ex. 1"
    >
    </textarea>

    <mat-error *ngIf="edicao.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Ano Publicação</mat-label>
    <mat-selection-list>

      <mat-option *ngFor="let year of years" [value]="year"
        [(ngModel)] = "livro.anoPublicacao"
        [formControl]="anoPublicacao"
        required
        name="anoPublicacao"
        >
        {{ year }}
      </mat-option>
    </mat-selection-list>

    <mat-error *ngIf="anoPublicacao.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Vlr. Para Vendas</mat-label>
    <textarea
      [(ngModel)] = "livro.valorMedioVenda"
      type="number"
      matInput
      name="valorMedioVenda"
      maxlength="3"
      placeholder="Ex. 44.01"
    >
    <span matTextPrefix>$&nbsp;</span>
    <span matTextSuffix>.00</span>
    </textarea>

  </mat-form-field>

  <div class="buttons">
    <button
      [disabled]="getMessage()"
      (click)="update()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      Atualizar
    </button>

    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
    >
      Cancelar
    </button>
  </div>
</form>
