<div class="content">
    <div class="title">
        <h1>Livros</h1>
    </div>

    <button class="mat-elevation-z8" mat-stroked-button color="primary"
    (click)="navegarParaCriarLivro()"
    >
      Novo Livro
    </button>

    <table mat-table  [dataSource]="livros"  class="mat-elevation-z8" style="width: 100%;">
        <!-- Position Column -->
        <ng-container matColumnDef="codI">
          <th mat-header-cell *matHeaderCellDef> Identificador </th>
          <td mat-cell *matCellDef="let row"> {{ row.codI }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Titulo </th>
          <td mat-cell *matCellDef="let row"> {{ row.titulo }} </td>
        </ng-container>

         <!-- Livros Column -->
         <ng-container matColumnDef="livros">
          <th mat-header-cell *matHeaderCellDef> Ler Livro </th>
          <td mat-cell *matCellDef="let row">
            <a routerLink="{{row.codI}}/read" class="livros">
              <i class="material-icons">book</i>
            </a>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td  class="mat-header" mat-cell *matCellDef="let row">

            <a routerLink=" {{ row.codI }}/update" class="edit">
              <i class="material-icons">edit</i>
            </a>

            <a routerLink=" {{ row.codI }}/delete" class="delete">
              <i class="material-icons">delete</i>
            </a>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
