<form class="form">
  <h1>Criando um novo Assunto</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      [(ngModel)]="assunto.descricao"
      name="descricao"
      placeholder="Ex. Livros de T.I."
    >
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="create()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      Criar
    </button>

    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
    >
      Cancelar
    </button>
  </div>
</form>
