.container{
    height: 90%;
    min-height: 90% !important;
}
.matnavcontainerlist{
    vertical-align: middle;
}
i{
    padding-right: 1.6rem;
}
.corlink-menu{
  color: cadetblue;
  font-weight: bold;
  font-size: large;
}
